.git
.github
.venv
venv
torch-env
__pycache__/
*.pyc
*.pyo

datasets/
test_batch/
test_batch.zip
project-notebook.ipynb
urdutext.png

checkpoints/final_ocr_model.pth
checkpoints/final_restoration_model.pth
checkpoints/test_vocab.json
